## Importing Necessary Libraries and Loadin

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.probability import FreqDist
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,auc

In [2]:
train = pd.read_csv(r'G:\Data Analysis and ML\IMDB Sentiment Analysis\datasets\Kaggle/Train.csv')
valid = pd.read_csv(r'G:\Data Analysis and ML\IMDB Sentiment Analysis\datasets\Kaggle/Valid.csv')
test = pd.read_csv(r'G:\Data Analysis and ML\IMDB Sentiment Analysis\datasets\Kaggle/Test.csv')

In [3]:
print(train.info())
print(valid.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    40000 non-null  object
 1   label   40000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 625.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5000 non-null   object
 1   label   5000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 78.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5000 non-null   object
 1   label   5000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 78.2+ KB
None

In [4]:
train.head(10)

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1
5  A terrible movie as everyone has said. What ma...      0
6  Finally watched this shocking movie last night...      1
7  I caught this film on AZN on cable. It sounded...      0
8  It may be the remake of 1987 Autumn's Tale aft...      1
9  My Super Ex Girlfriend turned out to be a plea...      1

In [10]:
print("Train Data:::\n" ,train.label.value_counts())
print("Validation Data:::\n" ,valid.label.value_counts())
print("Test Data:::\n" ,test.label.value_counts())

Train Data:::
 0    20019
1    19981
Name: label, dtype: int64
Validation Data:::
 1    2514
0    2486
Name: label, dtype: int64
Test Data:::
 1    2505
0    2495
Name: label, dtype: int64

In [11]:
train.groupby("label").count()

        text
label
0      20019
1      19981

## Data Preprocessing